{{- define "list" -}}
{{ range . }}- [ ] **{{formatName .}}** - {{ .Description }}
{{ end }}
{{- end -}}
# Production Readiness Checklist
{{ if .overview }}
## 🌐 Overview

{{ template "list" .overview }}
{{- if .servicePageChecklist }}
### 📚 Service Page Checklist

{{ template "list" .servicePageChecklist }}
{{- end }}
{{- end }}
{{- if .deploymentTesting }}
## 🚀 Deployment & Testing

{{ template "list" .deploymentTesting }}
{{- end }}
{{- if .scalabilityPerformance }}
## ⚖️ Scalability & Performance

{{ template "list" .scalabilityPerformance }}
{{- end }}
{{- if .availabilityResilience }}
## 🕒 Availability & Resilience

{{ template "list" .availabilityResilience }}
{{- end }}
{{- if .security }}
## 🔒 Security

{{ template "list" .security }}
{{- end }}
{{- if .observability }}
## 🔍 Observability

{{ template "list" .observability }}
{{- if .monitoringChecklist }}
### 📡 Monitoring Checklist

{{ template "list" .monitoringChecklist }}
{{- end }}
{{- end }}
{{- if .operations }}
## ⚙️ Operations

{{ template "list" .operations }}
{{- end }}
{{- if .technologySpecific }}
## 💻 Technology Specific

{{ template "list" .technologySpecific }}
{{- end -}}
