{{- define "table" -}}
| Name | Description | Level A | Level B | Level C |
|------|-------------|---------| ------- | ------- |
{{ range . }}| {{ if .Stack }}({{ .Stack }}) {{end}}{{ .Name }} | {{ .Description }} | {{ if contains .Levels "a" }}✅{{ end }} | {{ if contains .Levels "b" }}✅{{ end }} | {{ if contains .Levels "c"}}✅{{ end }} |
{{ end }}
{{- end -}}
# Production Readiness Guideline

{{- if .overview }}
## Overview

{{ template "table" .overview }}
{{- end }}
{{- if .observability }}
## Observability

{{ template "table" .observability }}
{{- end -}}
