{{- define "table" -}}
| Name | Description | Level A | Level B | Level C |
|------|-------------|---------| ------- | ------- |
{{ range . }}| **{{formatName .}}** | {{ .Description }} | {{ if contains .Levels "a" }}✅{{ end }} | {{ if contains .Levels "b" }}✅{{ end }} | {{ if contains .Levels "c"}}✅{{ end }} |
{{ end }}
{{- end -}}
# Production Readiness Guideline
{{ if .overview }}
## 🌐 Overview

{{ template "table" .overview }}
{{- if .servicePageChecklist }}
### 📚 Service Page Checklist

{{ template "table" .servicePageChecklist }}
{{- end }}
{{- end }}
{{- if .deploymentTesting }}
## 🚀 Deployment & Testing

{{ template "table" .deploymentTesting }}
{{- end }}
{{- if .scalabilityPerformance }}
## ⚖️ Scalability & Performance

{{ template "table" .scalabilityPerformance }}
{{- end }}
{{- if .availabilityResilience }}
## 🕒 Availability & Resilience

{{ template "table" .availabilityResilience }}
{{- end }}
{{- if .security }}
## 🔒 Security

{{ template "table" .security }}
{{- end }}
{{- if .observability }}
## 🔍 Observability

{{ template "table" .observability }}
{{- if .monitoringChecklist }}
### 📡 Monitoring Checklist

{{ template "table" .monitoringChecklist }}
{{- end }}
{{- end }}
{{- if .operations }}
## ⚙️ Operations

{{ template "table" .operations }}
{{- end }}
{{- if .technologySpecific }}
## 💻 Technology Specific

{{ template "table" .technologySpecific }}
{{- end -}}
