{{- define "list" -}}
{{ range . }}- [ ] {{ if .Stack }}({{ .Stack }}) {{end}}{{ .Name }} - {{ .Description }}
{{ end }}
{{- end -}}
# Production Readiness Checklist

{{- if .overview }}
## Overview

{{ template "list" .overview }}
{{- end }}
{{- if .observability }}
## Observability

{{ template "list" .observability }}
{{- end -}}
